.home-container {
    height: calc(100vh - 60px - 76px);
    min-height: 850px;
}

.video-container-div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.video-player {
    height: 100%;
    width: 100%;
}

.form-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.booking-form-container {
    margin-top: 40px;
}

video {
    object-fit: cover;
}

@media (max-width: 768px) {
    .booking-cta {
        display: none;
    }

    .video-player {
        display: none;
    }
}

